@model IEnumerable<SalesWeb.Models.SalesRecord>

@{
    ViewData["Title"] = "Search by Department";
}

<h2>@ViewData["Title"]</h2>

<p>
    @using (Html.BeginForm("SalesSearchByDepartment", "SalesRecords", FormMethod.Get))
    {

        //@Html.TextBox("Search")

        <div class="col-lg-5 form-inline" style="margin-left: -14px;">

            <button type="submit" class="btn btn-primary mr-1">Search</button>
            <input type="text" name="Search" class="form-control" />
        </div>


    }

</p>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Total sales = @Model.Sum(obj => obj.Amount).ToString("F2")</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="success bg-primary">
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Seller)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Seller.Department)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Seller.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Seller.Department.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
